/* CUSTOM STYLES */
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.p-3 {
    padding: 30px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

.h-100{
    height: 100vh;
}



/* PROFILE */
.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.profile img {
    height: 88px;
    width: 88px;
    border-radius: 50%;
}

.profile p {
    height: 30px;
}

/* LINK CARD */
.link-card {
    background-color: #EAECF0;
    height: 46px;
    border-radius: 8px;
    padding: 24px 32px 24px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tree {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ATTRIBUTION */
.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.attribution img {
    height: 24px;
    width: 24px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 48px 0px 48px 0px;
    color: #667085;
}
@media (max-width: 576px) {
    .footer {
      flex-direction: column;
      /* justify-content: flex-start; */
      align-items: flex-start;
      padding: 48px 20px;
    }
  }

.i4g {
    width: 185px;
    height: 45px;
}